/* @font-face {
  font-family: 'Inter-bold';
  font-style: normal;
  src: url('/src/fonts/Inter/Inter-Bold.ttf');
} */

.personData {
  margin: 120px 0 0 450px;
  background-color: white;
  width: 950px;
  border-radius: 8px;
  padding-top: 50px;
}

.titleBlock {
  font-family: 'Oswald' !important;
  margin-left: 20%;
  width: 60%;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, #fcfdff 0%, #f7faff 50%, #f4f9ff 100%);
  border-radius: 20px;
}

.titleBlock span {
  font-size: 40px;
  font-weight: 900;
}

.titleBlock p {
  font-family: 'Oswald';
  font-size: 18px;
  text-align: center;
}

.aboutMeContainer {
  margin: 40px 0 0 80px;
  display: inline-flex;
  width: 100%;
  height: auto;
}

.alertAndProgress {
  display: inline-flex;
  width: 100%;
}

.scienceAndDocumentContainer {
  margin: 40px 0 50px 80px;
  width: 100%;
  height: auto;
  display: inline-flex;
}

@media (max-width: 1400px) {
  .personData {
    width: 880px;
    margin: 120px 0 0 300px;
  }

  .aboutMeContainer {
    margin-left: 20px;
  }

  .scienceAndDocumentContainer {
    margin-top: 30px;
    margin-left: 20px;
  }
}