.profileIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 220px;
  height: 40px;
  top: 20px;
  right: 15px;
}

.personName {
  position: absolute;
  left: 25%;
}