.programOptionsWrapper {
  margin: 7% 0 0 20%;
  width: 300px;
}

.input {
  border: 1px solid #000;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

@media (max-width: 1600px) {
  .programOptionsWrapper {
    margin: 10% 0 0 30%;
  }
}